<%= render 'shared/page_title', title: "list all products in cart" %>
<div align = "center" >
  <%= form_tag url_for(:controller => 'payments', :action => 'is_items'), :method => 'post' do %>
    <table>
      <% if current_user.present? && is_item_to_show_content_in_cart? %>
        <tr>
          <td> IMG</td>
          <td>Product name</td>
          <td>Price </td>
          <td>Amounts</td>
          <td>Total prices</td>
          <td>Delete</td>
          <td>SelectPayment
            <%= form_for :cart, url: { :action => 'changecart', :controller => 'carts' } do |f| %>
            <% end %>
          </td>
        </tr>
        <% current_user.items.each do |item| %>
          <% if !item.ispayment %>
            <tr>
              <td> <%= image_tag item.product.image , size: 100 %></td>
              <td><%= item.product.name.capitalize %></td>
              <td><%= (item.product.price).round(2) %> <%= item.product.currency %></td>
              <td>
                <%= form_for :cart, url: {:action => 'changecart', :controller => 'carts'} do |f| %>
                  <%= f.number_field :amounts,
                    :value => item.amounts, min: 1,:style => "width:70px;", :class => 'form-control' %>
                  <%= f.hidden_field :product_id, :value => item.product.id %>
                  <%= f.submit  "change", :class => "btn btn-default btn-primary" %>
                <% end %>
              </td>
              <td><%= multiplication(item.product.price, item.amounts) %></td>
              <td><%= link_to "Delete this item", deletecart_path(item.id), method: :delete, data: { confirm: "are you sure delete this item"}, :class => "btn btn-xs btn-danger" %></td>
              <td>
                <%= check_box_tag 'item_ids[]', item.id -%>
              </td>
            </tr>
          <% end %>
        <% end %>
        </table>
      <% elsif session[:cart].present? %>
        <%= render 'session_cart' %>
      <% else %>
        <p>Did not have products in cart </p>
      <% end %>
    <% if current_user.present? && is_item_to_show_content_in_cart? %>
      <div><%= submit_tag 'Payment', :class => "btn btn-success btn-lg" %></div>
    <% end %>
  <% end %>
</div>