<div align = "center" >
  <%= form_tag( "/payments", method: :post) do %>
    <table>
      <% if current_user.present? && current_user.items.count != 0%>
        <tr>
          <td> IMG</td>
          <td>Product name</td>
          <td>Price </td>
          <td>Amounts</td>
          <td>Total prices</td>
          <td>Delete</td>
          <td>SelectPayment</td>
        </tr>
        <% current_user.items.each do |item| %>
          <tr>
            <td> <%= image_tag item.product.image , size: 100 %></td>
            <td><%= item.product.name.capitalize %></td>
            <td><%= (item.product.price).round(2) %> <%= item.product.currency %></td>
            <td>
              <%= form_for :cart, url: {:action => 'changecart', :controller => 'carts'} do |f| %>
                <%= f.number_field :amounts,
                  :value => item.amounts,
                   min: 1 %>
                <%= f.hidden_field :product_id, :value => item.product.id %>
                <%= f.submit  "change"%>

              <% end %>
            </td>
            <td><%= (item.product.price*item.amounts).round(2) %></td>
            <td><%= link_to "Delete this item", deletecart_path(item.id), method: :delete, data: { confirm: "are you sure delete this item"}, class: "btn btn-xs btn-danger", class: "btn btn-xs btn-warning" %></td>
            <td>
              <%= check_box_tag 'item_ids[]', item.id -%>
            </td>
          </tr>
      <% end %>
      <% elsif session[:cart] != nil && session[:cart].count != 0%>
        <tr>
          <td> IMG</td>
          <td>Product name</td>
          <td>Price </td>
          <td>Amounts</td>
          <td>Total prices</td>
          <td>Delete</td>
        </tr> 
        <% session[:cart].each do |product_id, amounts|%>
          <% product = Product.find(product_id) %>
            <td> <%= image_tag product.image , size: 100 %></td>
            <td><%= product.name.capitalize %></td>
            <td><%= (product.price).round(2) %> <%= product.currency %></td>
            <td>
              <%= form_for :cart, url: {:action => 'changecart', :controller => 'carts'} do |f| %>
                <%= f.number_field :amounts,
                  :value => amounts,
                   min: 1 %>
                <%= f.hidden_field :product_id, :value => product_id %>
                <%= f.submit "change"%>

              <% end %>
            </td>
            <td><%= (product.price*amounts.to_i).round(2) %></td>
            <td><%= link_to "Delete this item", deletecart_path(product_id), method: :delete, data: { confirm: "are you sure delete this item"}, class: "btn btn-xs btn-danger", class: "btn btn-xs btn-warning" %></td>
        <% end %>
      <% else %>
        <p>Did not have products in cart </p>
      <% end %>
    </table>
    <input class="btn btn-success btn-block btn-lg" type="submit" value="Payment">
  <% end %>
</div>