<%= render 'shared/page_title', title: "list all payment history" %>
<% if current_user.present? && ispayment? %>
  <div align = "center" >
    <%= will_paginate @payments%>
    <table>
      <tr>
        <td>Name product</td>
        <td>Price</td>
        <td>Amounts</td>
        <td>Total</td>
        <td>Time payment</td>
      </tr>
      <% @payments.each do |payment| %>
        <% if current_user == payment.items.first.user %>
          <% payment.items.each do |item| %>
            <tr>
              <td><%= item.product.name %></td>
              <td><%= item.product.price %></td>
              <td><%= item.amounts %></td>
              <td><%= multiplication(item.product.price,item.amounts) %></td>
              <td><%= time_ago_in_words(payment.created_at) %> ago</td>
            </tr>
          <% end %>
          <tr>  
            <td class="center">
              <%= link_to "Details payment",payment_path(payment), class: "btn btn-xs btn-warning" %>
            </td>
          </tr>
        <% end %>
      <% end %>

    </table>
    <%= will_paginate @payments %>
  </div>
<% else %>
  <div class="center">
    <p>Did not have any payment</p>
  </div>
<% end %>