 <%= form_for :ship,url: {:action => 'save_ship_infomation', :controller => 'payments'},:html  => { class: "form-horizontal",role: "form"} do |f| %>
  <div class="form-group">
    <div class="control-label col-md-2">
      <%= f.label :name_ship %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :name_ship, :value => current_user.name_ship, class: "form-control", placeholder: "Enter your name" %><br />
    </div>
  </div>
  <div class="form-group">
    <div class="control-label col-md-2">
      <%= f.label :address_ship %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :address_ship, :value => current_user.address_ship, class: "form-control", placeholder: "Enter your address" %><br />
    </div>
  </div>
  <div class="form-group">
    <div class="control-label col-md-2">
      <%= f.label :phone_ship %>
    </div>  
    <div class="col-md-8">
      <%= f.text_field :phone_ship, :value => current_user.phone_ship, class: "form-control", placeholder: "Enter your phone" %><br />
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit "Payment", class: "btn btn-primary btn-xlarge" %>
    </div>
  </div>
<% end %>