<%= render 'shared/page_title', title: "show details payment history" %>

<div class="center">
  <b>Delivery address </b>
  <p> Name: <%= current_user.name_ship %></p>
  <p> Phone: <%= current_user.phone_ship %></p>
  <p> Address: <%= current_user.address_ship %></p>
  <b>Items</b>
  <% @payment.items.each do |item| %>
    <p>Product name: <%= item.product.name %></p>
    <p>product price: <%= item.product.price %></p>
    <p>Amount: <%= item.amounts %></p>
  <% end %>
  <b>Total</b>
  <p><%= total_money_in_payment(@payment).round(2) %> USD</p>
  
</div>