<div class="center">
  <b>Delivery address </b>
  <p> <%= current_user.name%></p>
  <p> <%= current_user.phone%></p>
  <p> <%= current_user.address%></p>
  <b>Items</b>
  <% @payment.items.each do |item| %>
    <p><%= item.product.name %></p>
    <p><%= item.product.price %></p>
    <p><%= item.amounts %></p>
  <% end %>
  <b>Total</b>
  <p><%= total_money_in_payment(@payment).round(2) %></p>
  
</div>