<%= render 'shared/page_title', title: "showing all type products" %>

<div align = "center" >
  <%= will_paginate %>
  <% @categories.each do |category| %>
      <% if !category.products.blank? %>
        <br>
        Type: <b><%= category.name.capitalize %></b>
        <p>
         <span class="quiet"><small>Created <%= time_ago_in_words(category.created_at) %> ago </small></span>
        </p> 
        <%= link_to "Details products in Category",category_path(category), class: "btn btn-xs btn-warning" %>
        <p> Amout products in category: <%= category.products.count %> </p> 
      <% end %>
  <% end %>
  <%= will_paginate %>
</div>