<div align = "center" >
  <%= will_paginate @products%>
  <div class="row">
  <% @products.each do |product| %>
    <% if product.image != nil %>
      <div class="col-md-4">
        <figure class="card card-product">
          <div class="img-wrap">
            <%= link_to product do %>
              <%= image_tag(product.image , resize: 180) %>
            <% end %>
          </div>
          <figcaption class="info-wrap">
            <h4 class="title"><%= product.name.capitalize %></h4>
            <h4 class="title">Price: <%= product.price %></h4>
            <% if current_user.present? && current_user.admin %>
              <%= link_to "Edit this product",edit_product_path(product), class: "btn btn-xs btn-warning" %>
              <%= link_to "Delete this product", product_path(product), method: :delete, data: { confirm: "are you sure"}, class: "btn btn-xs btn-danger", class: "btn btn-xs btn-warning" %>
            <% end %>
            <%= link_to "Add to cart", addcart_path(product_id: product), method: :post, class: "btn btn-xs btn-warning" %>
          </figcaption>
        </figure>
      </div>
    <% end %>
  <% end %>
  </div>
  <%= will_paginate @products %>
</div>