<div align = "center" >
  <%= will_paginate @products%>
  <% @products.each do |product| %>
    <% if product.image != nil %>
      <ul >
        <li><%= image_tag product.image , size: 400 %></li>
        <li ><%= product.name.capitalize %></li>
        <li ><%= product.price %> <%= product.currency %></li>
        <p>
         <span class="quiet"><small>Created <%= time_ago_in_words(product.created_at) %> ago </small></span>
        </p> 
        <div class="product-actions">
          <%= link_to "Details product",product_path(product), class: "btn btn-xs btn-warning" %>
          <%= link_to "Edit this product",edit_product_path(product), class: "btn btn-xs btn-warning" %>
          <%= link_to "Delete this product", product_path(product), method: :delete, data: { confirm: "are you sure"}, class: "btn btn-xs btn-danger", class: "btn btn-xs btn-warning" %>
          <%= link_to "Add to cart", addcart_path(product_id: product), method: :post, class: "btn btn-xs btn-warning" %>
        </div>
      </ul>
    <% end %>
  <% end %>
  <%= will_paginate @products %>
</div>