<%= render 'shared/page_title', title: "showing detail product: " %>
<div class = "col-md-10 col-md-offset-1">
  <div class="row">
    <div class="col-sm-6 border-right">
      <div class="gallery-wrap"> 
        <div class="img-big-wrap">
          <div><%= image_tag @product.image %></div>
        </div> 
      </div> 
    </div>
    <div class="col-sm-6">
      <h3><%= @product.name %></h3>
      <p> 
        <span class="h3 text-warning"> 
          <span><%= @product.price %> <%= @product.currency%></span>
        </span> 
      </p> 
      <div class="item-property">
        <dt>Description</dt>
        <dd><p><%= @product.description %></p></dd>
        <dt>Type</dt>
        <dd>
          <% @product.categories.each do |c| %>
            <%= c.name %>
          <% end %>
        </dd>
      </div>
      <%= link_to "Add to cart", addcart_path(product_id: @product.id), method: :post, class: "btn btn-lg btn-warning" %>
    </div> 
  </div> 
</div>
